<%- include("partial/header.ejs") %>



<div id="newpostpage1">

    <div class="rowss mt-3">

       <div class="col-12">
        
        <form action="/posting" method="POST">
            <div class="mb-3">            
          
                <textarea class="form-control heading "  class="form-control" id="exampleFormControlInput1" rows="2" name="Title" placeholder="Title" ></textarea>
              </div>
              <div class="mb-3">          
                <textarea class="form-control newposttext"  id="exampleFormControlTextarea1" name="content" placeholder="Enter the content here" ></textarea>
              </div>
              <div class="postbtn mb-2 mt-2">
                 
                <button type="submit" class="btnn btn-light" > Post </button>
                
              </div>
        </form>
       </div>
    </div>

</div>


<%- include("partial/footer.ejs") %>