<% // for website %>
<div class="container col-xxl-8 px-4 main-container-pc mt-2">
    <div class="row flex-lg-row-reverse align-items-center g-0 py-0 " >

      <div class="col-10 col-sm-8 col-lg-6 main-image-container">
        <img src="image/QuillQuest_icon-removebg-preview.png" class="d-block mx-lg-auto img-fluid quillquestimg" alt="QuillQuest icon" width="800" height="550" loading="lazy">
      </div>

      <div class="col-lg-6 newpost-cont">
        <h1 class="title"> <p > <span class="word1  ">Welcome to</span><span class="word2">QuiliQuest.</span></p> </h1>
        <p class="lead">Where stories come to life and creativity knows no bounds. At QuillQuest, we believe in the power of words to inspire, inform, and transform.Share your thoughts, stories, and insights with the world and Manage your content with ease and control.</p>
        
        <form action="/newPost" method="GET" class="mt-3">
            <div class="d-grid gap-2 d-md-flex justify-content-md-center btn-color ">
                <button type="submit" class="btn btn-light" ><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus-lg svgicon" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
                </svg>NEW POST</button>
              </div>
        </form>
      </div>

    </div>
  </div>



  <% //for tablets %>
  <div class="container col-xxl-8  px-2 main-container-tablet mt-2">
    <div class="row flex-lg-row-reverse align-items-center g-0 py-0 " >

      <div class="col-12 col-sm-10 col-lg-6 main-image-container">
        <img src="image/QuillQuest_icon-removebg-preview.png" class="d-block mx-lg-auto img-fluid quillquestimg" alt="QuillQuest icon" width="800" height="550" loading="lazy">
      </div>

      <div class="col-lg-6 newpost-cont">
        <h1 class="title"> <p > <span class="word1  ">Welcome to</span><span class="word2">QuiliQuest</span></p> </h1>
        <p class="lead">Where stories come to life and creativity knows no bounds. At QuillQuest, we believe in the power of words to inspire, inform, and transform.Share your thoughts, stories, and insights with the world and Manage your content with ease and control.</p>
        
        <form action="/newPost" method="GET" class="mt-3">
            <div class="d-grid gap-2 d-md-flex justify-content-md-center btn-color ">
                <button type="submit" class="btn btn-light" ><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus-lg svgicon" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
                </svg>NEW POST</button>
              </div>
        </form>
      </div>

    </div>
  </div>


  <% //for mobile %>
  <div class=" main-container-mobile mt-5">
    
        <div class="col-12 col-sm-12 col-md-11 col-lg-6 ">
          <div class="text-center">
            <h2 class="legend mb-0 mt-3">   <p  > <span class="word1  ">Welcome to</span><span class="word2">QuiliQuest</span></p></h2>
            <p class="details   form-text">Where  stories  come  to  life  and  creativity  knows  no  bounds.</p>
          </div>

          <div class="col-8 col-sm-8 col-lg-6 main-image-container-mobile ">
            <img src="image/QuillQuest_icon-removebg-preview.png" class="d-block mx-lg-auto img-fluid " alt="QuillQuest icon" width="500" height="500" loading="lazy">
          </div>
          
          <div class="button-mobile mb-4" >
            <a href="/newPost" type="submit" class="btn btn-light" ><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus-lg svgicon" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
          </svg>NEW POST</a>
          </div>
          </div>
    </div>
</div>

</div>






